<nav class="px-4 sm:px-8 py-4 md:px-16 bg-white dark:bg-gray-800">

  <div class="container flex flex-wrap justify-between items-center">
    <!-- Site Name -->
    <a href="/" class="order-1 flex flex-1 items-center">
      <img src="/assets/img/icipe-MBBU-dark.png" class="hidden dark:inline-flex  mr-3 h-8 sm:h-12" alt="icipe logo" />
      <img src="/assets/img/icipe-MBBU-light.png" class="inline-flex dark:hidden  mr-3 h-8 sm:h-12" alt="icipe logo" />
    </a>
    <!-- Site Name -->

    <!-- Mobile Menu Toggle -->
    <button data-collapse-toggle="mobile-menu" type="button"
      class="order-2 md:hidden inline-flex items-center p-2 ml-auto rounded-full hover:bg-blue-50 dark:hover:bg-gray-900"
      aria-controls="mobile-menu" aria-expanded="false" onclick="toggleNavbar('mobile-menu')">
      <span class="sr-only">Open main menu</span>
      <span class="primary h-6 w-6"><i class="fa fa-bars"></i></span>
    </button>
    <!-- Mobile Menu Toggle -->

    <!-- Nav Menu -->
    <div id="mobile-menu" class="order-last md:order-3 hidden md:block w-full md:w-auto">
      <!-- Internship Dropdown  -->
      <div
        class="flex flex-col md:flex-row md:justify-end md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium divide-y md:divide-y-0 divide-gray-100 dark:divide-gray-700 ">
        <div class="relative flex flex-col">
          <button class="inline-flex nav-item" onclick="toggleNavbar('dropdown-menu')">
            Internship
            <i class="mx-2 text-sm fa fa-angle-down" aria-hidden="true"></i>
          </button>
          <div id="dropdown-menu"
            class="hidden z-10 absolute top-full divide-y divide-gray-100 dark:divide-gray-700 flex flex-col shadow-lg bg-white dark:bg-gray-900 rounded">
            {% include navlink.html name="Cohorts" link="/cohorts" classes="md:py-2 md:px-4" %}
            {% include navlink.html name="Curriculum" link="/curriculum" classes="md:py-2 md:px-4"%}
          </div>
        </div>
        <!-- Internship Dropdown  -->

        <!-- Main Menu -->
        {% include navlink.html name="Blog" link="/blog" %}
        {% include navlink.html name="HPC" link="https://hpc01.icipe.org/" %}
        <!-- Main Menu -->
      </div>
    </div>
    <!-- Nav Menu -->

    <!-- Theme Toggle -->
    <button id="theme-toggle"
      class="order-3 md:order-last md:inline-flex h-6 w-6 inline-flex items-center justify-center mx-2 sm:mx-4 p-2 rounded-full hover:bg-gray-100 dark:hover:bg-gray-900 text-gray-500 dark:text-gray-400 hover:text-blue-800 dark:hover:text-blue-400">
      <i id="theme-toggle-dark" class="fa fa-moon hidden" aria-hidden="true"></i>
      <i id="theme-toggle-light" class="fa fa-sun hidden" aria-hidden="true"></i>
    </button>
    <!-- Theme Toggle -->
  </div>
</nav>