---
layout: page
title: Blog
description: 
The demand for well-trained Bioinformatics to support genomics research continues to rise. The Bioinformatics Incubation and Mentorship program at icipe seeks to attract five highly motivated graduates for a three-month internship and mentorship. The interns undergo intensive training within the first month, after which they will be attached to ongoing genomic initiatives for a mini-project. The mini-project will provide a hands-on experience and guarantee knowledge and skills retention. To instill continued self-learning, they will be assigned free online courses compiled to suit their training needs. 
photo: /assets/img/blog.svg
---

<div class="w-full m-auto px-8 py-16 md:px-16 bg-gray-100 dark:bg-gray-900">
  <h2 class="text-4xl text-blue-800 dark:text-blue-400">Featured</h2>
  <div class="mt-4 mb-8 h-[1px] w-1/3 bg-blue-800 dark:bg-blue-400"></div>

  <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-2 gap-y-4">
    {% for post in site.posts %}
    {% if post.featured %}
    {% include post_card.html post=post %}
    {% endif %}
    {% endfor %}
  </div>
</div>

<div class="w-full m-auto px-8 py-16 md:px-16 bg-gray-100 dark:bg-gray-900">
  <h2 class="text-4xl text-blue-800 dark:text-blue-400">All Posts</h2>
  <div class="mt-4 mb-8 h-[1px] w-1/3 bg-blue-800 dark:bg-blue-400"></div>

  <div id="all-posts" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-x-2 gap-y-4">
    {% for post in paginator.posts %}
    {% if post.featured != true %}
    {% include post_card.html post=post %}
    {% endif %}
    {% endfor %}
  </div>

  {% include pagination_links.html %}
</div>
